.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid var(--fill-color);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__icon {
    align-items: center;
    max-width: 106px;
    height: 60px;
    fill: var(--fill-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover &,
    .clients__link:focus & {
      fill: var(--accent-color);
    }
  }
}
 .clients__item{
  width: calc((100% - 30px) / 2) ;
 }

 @media screen and (min-width: 768px){
  .clients__item{
    width: 226px;
  }
}

@media screen and (min-width: 1200px){
  .clients__item{
    width: 170px;
  }
}

.clients__title{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px){
  .clients__title{
    font-size: 36px;
    line-height: 1.16;
  }
}