.description {
  padding-top: 0;
  display: none;
  &__list {
    display: flex
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__image {
    display: block;
  }

  &__wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-background-color);
  }
}

@media screen and (min-width: 1200px){
  .description{
    display: flex;
  }
}