.modal {
  position: absolute;
  min-width: 310px;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 480px){
    width: 450px;
    height: 609px;}
 @media screen and(min-width: 1200px){ 
    width: 528px;
    height: 581px;}
    

  &-form {
    padding: 40px;
  }

  &-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  &-element {
    display: flex;
    flex-direction: column;
  }

  &-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1, 16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }

  &-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
    }
    &:focus + .modal-icon {
      fill: var(--accent-color);
    }
  }

  &-icon {
    margin-right: 9px;
    display: block;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;

  & .modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
}

textarea {
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus{
    border-color: var(--accent-color);
  }
  &::placeholder{
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}


.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  &-label{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nonchecked {
  opacity: 1;
  width: 16px;
  height: 15px;
}

.input-accept:checked + label .nonchecked {
  opacity: 0;
}

.checked {
  opacity: 0;
}

.input-accept:checked + label .checked {
  opacity: 1;
}

.link-agreements {
  color: var(--accent-color);
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
