.team {
  background-color: var(--section-background-color);

  &__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__item{
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;
    height: auto;
  }

  &__foto{
    width: 100%;
    display: block;
  }

  &__wrap{
    max-width: 450px;
    padding: 30px 10px;
    text-align: center;
  }

  &__name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  &__position{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px){
  .team__list{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px){
  .team__list{
    flex-direction: row;
  }
}

@media screen and (min-width: 768px){
  .team__item{
    width: 354px;
  }
}

@media screen and (min-width: 1200px){
  .team__item{
    max-width: 270px;
  }
}



//social block 

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  &__item:not(:last-child){
    margin-right: 10px;
  }

  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      background-color: var(--accent-color);
      color: var(--primary-background-color);
    }

    &:hover &__icon,
    &:focus &__icon{
      fill: var(--primary-background-color);
    }
  }

  &__icon{
    width: 20px;
    height: 20px;
    fill: var(--fill-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

